<div class="w-full flex flex-col items-center">
  <div class="w-full flex items-center justify-center gap-[20px]">
    <h1 class="text-[30px] text-[#29134e] font-serif underline font-bold">
      TODOFY
    </h1>
    <button mat-fab color="primary" style="width: 30px; height: 30px">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <h1 class="text-[30px] text-[#29134e]">
    Your personal assistant in task planning
  </h1>

  <div class="w-full flex flex-col items-center justify-center">
    <app-card></app-card>
  </div>
</div>
