<div class="w-full flex flex-col items-center">
  <div class="w-full flex flex-col items-center justify-center gap-[20px]">
    <h1 class="text-[30px] text-[#29134e] font-serif underline font-bold">
      TODOFY
    </h1>


    


    
    

    
    
    
    
    <button primary mat-raised-button color="primary" (click)="openFormModal()">
      Add Task
    </button>
  </div>
  <h1 class="text-[30px] text-[#29134e] text-center mt-[10px]">
    Your personal assistant in task planning
  </h1>
  <div
    *ngIf="apiService.loading"
    class="w-full flex justify-center items-center"
  >
    <mat-spinner diameter="50"></mat-spinner>
  </div>

  <div
    *ngIf="!apiService.loading"
    class="w-full flex flex-col items-center justify-center"
  >
    <div
      *ngIf="!apiService.loading"
      class="w-full flex flex-col items-center justify-center"
    >
      <app-card
        *ngFor="let task of apiService.task_data"
        [task]="task"
      ></app-card>
    </div>
  </div>
</div>
